<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %> 
<% } else{%>
		<%- include('./partials/header')  %> 
<% } %>

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title"> Editar productos</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<h2 class="col-12">
					<form action="/product/store" method="POST" enctype="multipart/form-data" class="form-container">
						<input type="text" name="nombre" placeholder="Nombre del libro " class="form-input">
						<input type="text" name="descripcion" placeholder="Descripcion del libro" class="form-input">
						<input type="date" name="anioDePublicacion" placeholder="Agregar año de publicacion" class="form-input">
						<input type="text" name="autor" placeholder="Agregar autor" class="form-input">
						<input type="text" name="comentario" placeholder="Agregar un comentario" class="form-input">
						<input type="text" name="editorial" placeholder="Agregar editorial" class="form-input">
						<input type="file" name="imagen" placeholder="Agregar imagen del libro" class="form-input">

              	<button type="submit"> Editar</button>
					</form>
				</h2>
			
		


				<!-- footer -->
				<%- include('./partials/footer') %>
					<!-- /footer -->
</body>

</html>