<!-- footer -->
<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="/stylesheets/app.css">
<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-credit-card"></i>
					<h2>Pagá con tarjeta o en efectivo</h2>
					<p>En BOOKER tenés cuotas sin interés con todas las tarjetas o un 15% en efectivo o transferencia.</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-gift"></i>
					<h2>Envío gratis desde $3.000</h2>
					<p>En BOOKER tenes siempre envíos gratis con tus compras superiores a $3.000.</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-user-shield"></i>
					<h2>Seguridad, de principio a fin</h2>
					<p>¿No te gusta? ¡Devolvelo! En BOOKER estás
						siempre protegido.</p>
				</article>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->