<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<%- include('./partials/header') %>
		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Ingresar</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<h2 class="col-12"> <i> <br>

						<form action="/" method="GET" class="form-container">
							<input type="text" name="username" placeholder="Nombre de Usuario o Email"
								class="form-input">
							<input type="password" name="password" placeholder="Contraseña" class="form-input">

							<button type="submit">Iniciar Sesión</button>
						</form>
						<br>
						<br>
						<br>
					</i> <br>

				</h2>
				<%- include('./partials/footer') %>
</body>

</html>